
html, body{
	font-size: 12px;	
	margin-left: 15px;	
	margin-right:15px;		
}
      
/****************************** search-bar ******************************/
#search-bar p{
	color: #07e9e6;
	font-size: 20px;
	height: 15px;
}
#search-bar p:hover{
	color: #6c79de;
}
#search-bar  select{
	margin-right:15px;
	margin-left: -5px;
	height: 30px;
	color: #a5a8a8;	
}
#search-bar select:hover{
	border-color: #07e9e6;
}
#search-bar button{
	width: 120px;
	color: #07e9e6;
	border-color: #07e9e6;
}
#search-bar button:hover{
	background-color:#6c79de;	
	color: #ffffff;
	border-color: #ffffff;
}
#search-bar  a{
	font-size: 10px;
	text-decoration: none;
	color: #a5a8a8;
	padding-right: 10px;
	padding-left: 20px;
}
#search-bar a:hover{
	color: #6c79de;
}

/****************************** menu ******************************/
#menu a{
	color: #ffffff;
}
#menu a:hover{
	color: #07e9e6;
}
#menu button{
	color: #ffffff;
}
#menu li{
	color: #ffffff;
	padding-left: 20px;
}
#menu li ul {
    display: none; 
}
#menu li:hover ul { 
    display: block; 
    color: #ffffff;
}
#menu li:hover { 
    display: block; 
}

/****************************** banner-content ******************************/   
#banner-content{
	background: url(../images/ban3.jpg);
	background-position: center;
}
#slogan h1{
	font-size: 50px;
	padding-left: 50px;
	color: #ffffff;
	margin-top: 330px;
	border-right: 1px dotted #ffffff;	
}
#slogan a{
	margin-top: 20px;
	margin-left:65px;
	margin-bottom: 250px;
	border-radius: 5px;
	border: 1px dotted #ffffff;
	padding: 10px;
	text-decoration: none;
	color: #ffffff;
}
#slogan a:hover, #autorization a:hover{
	background-color: #ffffff;
	color: #a5a8a8;
}
#statistic{
	padding-left: 90px;
	font-size: 20px;
	color: #ffffff;
	margin-top: 330px;
}
#statistic p{
	padding-left: 50px;
}
#autorization form{
	border: 1px dotted #ffffff;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 40px;
}
#autorization  form a{
	color: #ffffff;
	border: none;
	text-decoration: none;
	margin-left: -10px;
	padding-left:31px;
}
#autorization form a:hover{
	background: none;
}
#autorization  label{
	color: #a5a8a8;
}
#autorization  button{
	margin-top: 30px;
}
.links{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 25px;
}
.links ul{
	padding: 0px;
}
.links ul li{
	display: inline-block;
}

/****************************** notes ******************************/ 
#notes{
	background-color: #f7f6f5;
	padding: 40px;
}
#notes img{
	float: left;
	padding-right: 10px;
}
#notes a{
	color: #555555;
	font-size: 12px;
	text-decoration: none;
	list-style: none;
}

/****************************** work, professions, important ******************************/ 
#work, #professions, #important{
	margin-top: 20px;
	border-bottom: 1px dotted #6c79de;
}
#work h3, #story h3, #professions h3, #important h3{
	color:#6c79de;
}
#work-city ul, #professions ul, #important ul{
	padding: 5px;	
}
#work-city li, #professions li, #important li{
	border-right: 1px dotted #6c79de;
	list-style: none;
	padding: 5px;	
}
#work-city a, #professions a, #important a{
	font-size: 12px;
	color: #555555;
	text-decoration: none;
	display: inline-block;	
}
#vacancy-city li{
	list-style: none;
	padding: 10px;
	display: inline-block;
}
#vacancy-city a{
	font-size: 12px;
	color: #555555;
	text-decoration: none;	
}
#news li, #articles li{
	border-bottom: 1px dotted #6c79de;
}

/****************************** story ******************************/ 
#story{	
	margin-top: 30px;
	margin-bottom: 30px;	
}
#story p{
	padding-top: 20px;
	text-align: justify;
}

/****************************** footer ******************************/ 
#footer{
	background-color: #6c79de;
	padding-top: 20px;
	padding-left: 10px;
}
#footer ul{
	padding-left: 0px;
}
#footer li{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #ffffff
}
#footer a{
	padding-top: 20px;
	text-decoration: none;
	color: #ffffff;
}
#footer a:hover{
	color: #07e9e6;
}
#sotial li{
	border-right: none;
	font-size: 15px;
}
#sotial a:hover{
	color: #a5a8a8;;
}

/****************************** media ******************************/ 
@media (max-width: 1440px) {

/****************************** banner-content ******************************/ 
	#slogan{
		margin:10px;
	}
	#slogan h1{
		font-size: 20px;
		padding-left: 10px;
		color: #ffffff;
		margin-top: 30px;
		border-right: none;	
	}	
	#slogan a{
		margin-bottom: 10px;
		padding: 10px;
		font-size: 10px;
	}	
	#statistic {
		display: none;
	}
	#autorization form{
		margin: 10px;
	}

/****************************** Notes ******************************/
	#notes img{
		margin-bottom: 10px;
	}
	#notes a{
		font-size: 10px;
	}
	#work h3, #story h3, #professions h3, #important h3{
		font-size: 17px;
	}
	#work a, #story a, #professions a, #important a{
		font-size: 9px;
		margin: 0px;
	}
/****************************** Story ******************************/
	#story p{
		font-size: 10px;
	}
}

@media (max-width: 991px) {
/****************************** Search-bar ******************************/
	#search-bar img{
		display: none;
	}
}



